* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.content {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 20px;
}

.center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1,
h2 {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    margin-top: 20px;
}


h2 {
    font-size: 24px;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 30px;
    text-align: center;
}

.avatar {
    width: 45%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

p,
li {
    font-size: 22px;
}

.info-list {
    list-style-type: disc;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
}

.button-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.btn {
    background-color: #d1c4e9;
    color: #4527a0;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #b39ddb;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.content {
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}


h1,
h2 {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    margin-top: 20px;
}


h2 {
    font-size: 24px;
}

.info-list {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    padding-left: 40px;
    font-size: 22px;
}
.list-container {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
li {
    margin-bottom: 15px;
}
.button-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.btn {
    background-color: #d1c4e9;
    color: #4527a0;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #b39ddb;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.content {
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}
h1,
h2 {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    margin-top: 20px;
}
h2 {
    font-size: 24px;
}
.meme-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    max-width: 800px;
}

.meme-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.button-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.btn {
    background-color: #d1c4e9;
    color: #4527a0;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #b39ddb;
}